<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empresa Top 10 - Recuperação de senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'manager/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'manager/css/floating-labels.css' %}" rel="stylesheet">
    <link href="{% static 'manager/css/custom.css' %}" rel="stylesheet">
</head>

<body class="bg-white">
    <div id="main">
        <div class="container text-center bg-white">
            {% if lost_password %}
            <form class="form-signin" action="{% url 'Empresa Top 10:reset-password' lost_password.hash %}" method="post">
                {% csrf_token %}
                <div class="py-3">
                    {% load static %}
                    <img class="d-block mx-auto mb-4" src="{% static 'manager/logo.png' %}" alt="logo" width="227"
                        height="154" />
                    <h4>Recuperação de senha</h4>
                </div>
                {% if success %}
                <p class="info-text text-success"> Senha alterada com sucesso</p>
                {% endif %}

                {% if not success %}
                {% if error_message %}
                <h5 class="info-text text-danger">{{ error_message }}</h5>
                {% endif %}

                <p class="info-text">Foi solicitado a alteração de senha para o e-mail <b> {{ lost_password.user.email }}</b>. Digite a nova
                    senha para acessar o aplicativo {{ appname }}.</p>

                <div class="form-label-group">
                    <input type="password" id="password1" name="new_password" class="form-control" placeholder="Nova senha"
                        required autofocus>
                    <label for="password1">Nova senha</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="password2" name="confirm_new_password" class="form-control" placeholder="Confirmar nova senha"
                        required>
                    <label for="password2">Confirmar nova senha</label>
                </div>
                <hr>
                <button class="btn btn-lg btn-block btn-info" type="submit">Redefinir senha</button>
                <p class="mt-5 mb-3 text-muted text-center">© {{ appname }} 2019</p>
                {% endif %}
            </form>
            {% else %}
            <div class="py-3">
                {% load static %}
                <img class="d-block mx-auto mb-4" src="{% static 'manager/logo.png' %}" alt="logo" width="227"
                    height="154" />
                <h4>Recuperação de senha</h4>
            </div>
            <h5 class="info-text text-danger">Identificador inexistente</h5>
            {% endif %}
        </div>
    </div>

    <!-- JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load static %}
    <script src="{% static 'manager/js/resetpassword.js' %}" type="text/javascript"></script>

</body>
</html>